@model WebUI.Models.Owner.OwnerUserFormStub
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    string backLink = "";

    if (currentAction == "AssignUser")
    {
        ViewBag.Title = "Assign User";
    }
    backLink = Url.Action("Index");
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>
@using (@Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)

	<div class="form-group">
	    @Html.LabelFor(model => model.IdOwner, new { @class = "col-xs-2 control-label" })
	    <div class="col-xs-4">
            @Html.EditorFor(model => model.IdOwner, new { htmlAttributes = new { @class = "form-control", style = "" } })
            @Html.ValidationMessageFor(model => model.IdOwner)
	    </div>
    </div>
	<div class="form-group">
	    @Html.LabelFor(model => model.Username, new { @class = "col-xs-2 control-label" })
	    <div class="col-xs-4">
            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", style = "" } })
            @Html.ValidationMessageFor(model => model.Username)
	    </div>
    </div>

    <div class="form-group">
		<div class="col-xs-offset-2 col-xs-10">
			<button type="submit" class="btn btn-primary">Save</button>
			<a href="@backLink" class="btn btn-link">Cancel</a>
		</div>
	</div>
}

@section scripts
    {
    <script type="text/javascript">

        function comboBoxOnChange(e) {
            if (this.value() && this.selectedIndex == -1) {   //or use this.dataItem to see if it has an object
                this.text('');
            }
        }

        $(document).ready(function () {

            $('#IdOwner').kendoComboBox({
                optionLabel: "Pilih",
                dataTextField: "Name",
                dataValueField: "Id",
                change: comboBoxOnChange,
                @{
                    if(Model.IdOwner == Guid.Empty)
                    {
                        <text>
                        value:"",
                        </text>
                    }
                }
                dataSource: {
                    transport: {
                        read: {
                            url: '@Url.Action("BindingOwner")',
                            dataType: "json",
                            type: "POST",
                        },
                    },
                    schema: {
                        data: "data",
                        total: "total",
                    }
                }
            });

            $('#Username').kendoComboBox({
                optionLabel: "Pilih",
                dataTextField: "Username",
                dataValueField: "Username",
                change: comboBoxOnChange,
                dataSource: {
                    transport: {
                        read: {
                            url: '@Url.Action("BindingUsername")',
                            dataType: "json",
                            type: "POST",
                        },
                    },
                    schema: {
                        data: "data",
                        total: "total",
                    }
                }
            });

        });
        
    </script>
}

