@model WebUI.Models.Invoice.InvoicePresentationStub
@{
    Layout = "~/Views/Shared/_LayoutPrint.cshtml";
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    string backLink = "";
    int page = Model.AdditionalItem.Count() / 8;
    int itemLimit = 5;
    WebUI.Infrastructure.DisplayFormatHelper dfh = new WebUI.Infrastructure.DisplayFormatHelper();

    ViewBag.Title = "Invoice " + Model.Code;

    backLink = Url.Action("Index");
}

<header>
    <div class="container">
        <div class="row">
            <div class="col-xs-6"><img src="@Url.Content("~/Content/theme/print/header-left.jpg")" alt="" /></div>
            <div class="col-xs-6 text-right"><img src="@Url.Content("~/Content/theme/print/header-right.jpg")" alt="" /></div>
        </div>
    </div>
</header>

<div class="print-content height-print-content">
    <div class="row">
        <div class="col-xs-3">
            <div>
                @if (Model.Logo == null)
                {
                    <img src="@Url.Content("~/Content/theme/print/logo.jpg")" alt="" class="img-responsive" />
                }
                else
                {
                    <img src="@Url.Content(Model.Logo)" alt="" class="img-responsive" />
                }
            </div>
            <br />
            <div class="medium-text">CUSTOMER:</div>
            <div>@Model.CustomerName</div>
            <div>@Html.Raw(Model.PhoneCustomer)</div>
            <div>@Model.EmailCustomer</div>
        </div>
        <div class="col-xs-offset-3 col-xs-6 text-right">
            <br /><br />
            <h2>INVOICE<br>CONFIRMATION</h2>
            <div>Car Type: @Model.CarModel</div>
            <div>Alamat Penjemputan: @Model.Destination</div>
            <div>Invoice No: @Model.Code</div>
            <div>Payment: Bank Transfer / Cash</div>

            <br /><br />

            <div class="medium-text">TOTAL:</div>
            <div class="total-price">
                RP @Model.Total.ToString("n0")
            </div>
        </div>
    </div>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th class="col-xs-6">Description</th>
                    <th class="text-right">Quantity</th>
                    <th class="col-xs-2 text-right">Cost</th>
                </tr>
            </thead> 
            <tr>
                <td colspan="3">@Model.CarModel @Model.StartDate.ToString(dfh.FullDateFormat) - @Model.FinishDate.ToString(dfh.FullDateFormat)</td>
            </tr>
            
            @foreach (WebUI.Models.Invoice.InvoiceItemFormStub single in Model.AdditionalItem)
            {
                <tr>
                    <td colspan="2">@single.Category</td>
                    <td class="text-right">Rp. @single.Value.ToString("n0")</td>
                </tr>
            }


            @if (@Model.Notes != null)
            {
                <tr><td colspan="3">@Html.Raw(Model.Notes)</td></tr>    
            }
            
            <tr><td colspan="3">&nbsp;</td></tr>

            @{
                int i = 1;
            }
            @foreach (var item in Model.ListRentPackage)
            {
                Model.ListRentPackage.Count();
                <tr>
                    <td>@item.car_package.name</td>
                    <td class="text-right">@item.quantity</td>
                    <td class="text-right">@item.price_each.ToString("n0")</td>
                </tr>
                if (@item.rent.discount != null && i == Model.ListRentPackage.Count())
                {
                    <tr><td colspan="3">&nbsp;</td></tr>
                    <tr>
                        <td>Diskon</td>
                        <td class="text-right"></td>
                        <td class="text-right">@item.rent.discount.Value.ToString("n0")</td>
                    </tr>
                }
                ++i;
            }

            <tr><td colspan="3">&nbsp;</td></tr>
            <tr>
                <td>&nbsp;</td>
                <td class="text-right">Subtotal</td>
                <td class="text-right">Rp. @Model.PrePPNValue.ToString("n0")</td>
            </tr>

            @if (Model.PPN)
            {
                <tr>
                    <td>&nbsp;</td>
                    <td class="text-right">PPN</td>
                    <td class="text-right">Rp. @Model.PPNValue.ToString("n0")</td>
                </tr>
            }
            else
            {
                <tr><td colspan="3">&nbsp;</td></tr>
            }
            <tr>
                <td>&nbsp;</td>
                <td class="text-right">Total</td>
                <td class="text-right total-price-cell">Rp. @Model.Total.ToString("n0")</td>
            </tr>
        </table>
    </div>

    @if (@Model.AdditionalItem.Count < itemLimit)
    {
        <div class="clear">Terms and Conditions:</div>
        <div class="clear">@Html.Raw(Model.Terms)</div>
    }
</div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="relative">
                        <div class="bg"><img src="@Url.Content("~/Content/theme/print/footer.jpg")" class="img-responsive" alt="" /></div>
                        <div class="print-content text-right">
                            @Html.Raw(Model.Contact)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


@if (@Model.AdditionalItem.Count() >= itemLimit)
{
    <div class="pagebefore"></div>

    <div class="second-page">
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-xs-6"><img src="@Url.Content("~/Content/theme/print/header-left.jpg")" alt="" /></div>
                    <div class="col-xs-6 text-right"><img src="@Url.Content("~/Content/theme/print/header-right.jpg")" alt="" /></div>
                </div>
            </div>
        </header>

        <div class="print-content height-print-content">
            <div style="padding-top: 100px;">Terms and Conditions:</div>
            <div>@Html.Raw(Model.Terms)</div>
        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="relative">
                            <div class="bg"><img src="@Url.Content("~/Content/theme/print/footer.jpg")" class="img-responsive" alt="" /></div>
                            <div class="print-content text-right">
                                @Html.Raw(Model.Contact)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
}



@section scripts
{
    <script type="text/javascript">
        @*function printQuotation(id) {
            var url = '@Url.Action("PrintQuotation", new { id = Model.Id })';
            var windowName = "quotation";

            window.open(url, windowName, "height=500,width=700,modal=yes,alwaysRaised=yes");
        }*@

        $(document).ready(function () {
            print();
        });

        $(document).ready(function () {
            $("#y").remove();
        });


    </script>
}
