@using WebUI.Extension;
@using MvcSiteMapProvider.Web.Html;
@model WebUI.Models.CarPackage.CarPackagePresentationStub
@{
    ViewBag.Title = "Paket Kendaraan";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    WebUI.Infrastructure.DisplayFormatHelper dfh = new WebUI.Infrastructure.DisplayFormatHelper();
    var currentController = (WebUI.Controllers.CarPackageController)ViewContext.Controller;
}
<div class="page-header">
    <div class="btn-group pull-right">
        @Html.ActionLink("Tambah Harga Paket Mobil", "Create", new { area = "" }, new { @class = "btn btn-default" })
    </div>
    <h1>@ViewBag.Title</h1>
</div>

@Html.Raw(currentController.GetMessage())
<div id="grid"></div>

@section scripts
    {
    <script type="text/javascript">

        function editItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            window.location.href = "@Url.Action("Edit")" + "?id=" + data.Id;
        }

        function deleteItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            goToDeletePage('@Url.Action("Delete")' + "?id=" + data.Id, this.dataSource);
        }

        $(document).ready(function () {

            var ds = {
                pageable: true,
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
                sortable: true,
                transport: {
                    read: {
                        url: "@Url.Action("Binding")",
                        dataType: "json",
                        type: "POST",
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options != '') {
                            return kendo.stringify(options);
                        }
                        else if (operation == "read") {
                            var filter;
                            if (options.filter) {
                                filter = options.filter.filters;
                                for (var i in filter) {
                                    if (filter[i].field == "CarBrandName") {
                                        filter[i].field = "car_model.car_brand.name"
                                    } else if (filter[i].field == "CarModelName") {
                                        filter[i].field = "car_model.name";
                                    }
                                }
                            }

                            if (options.sort) {
                                sort = options.sort;
                                for (var i in sort) {
                                    if (sort[i].field == "CarBrandName") {
                                        sort[i].field = "car_model.car_brand.name";
                                    }
                                    if (sort[i].field == "CarModelName") {
                                        sort[i].field = "car_model.name";
                                    }

                                }

                            }
                            return options;
                        }
                    }
                },
                schema: {
                    data: "data",
                    total: "total",
                    model: {
                        fields: {
                            "Id": { type: "string" },
                            "IdCarBrand": { type: "string" },
                            "IdCarName": { type: "string" },
                            "CarModelName": { type: "string" },
                            "CarBrandName": { type: "string" },
                            "Name": { type: "string" },
                            "Price": { type: "number" },
                            "IsActive": { type: "boolean" },
                        }
                    }

                },
                sort: { field: "created_time", dir: "desc" }

            };

            $("#grid").kendoGrid({
                dataSource: ds,
                filterable: kendoGridFilterable,
                pageable: true,
                sortable: true,
                resizable: true,
                columns: [
                    {
                        command: [
                            {
                                name: "edit",
                                text: "edit",
                                click: editItem,
                                imageClass: "glyphicon glyphicon-edit",
                                template: '<a class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=imageClass#"></span></a>'
                            },
                            //{
                            //    name: "delete",
                            //    text: "delete",
                            //    click: deleteItem,
                            //    imageClass: "glyphicon glyphicon-remove",
                            //    template: '<a class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=iconClass# #=imageClass#"></span></a>'
                            //}
                        ],
                        width: 65
                    },
                    {
                        field: "CarBrandName",
                        title: "Merek",
                    },
                    {
                        field: "CarModelName",
                        title: "Model",
                    },
                    {
                        field: "Name",
                        title: "Paket",

                    },
                    {
                        field: "Price",
                        title: "Harga / Hari",
                        format: '{0:n0}',
                        attributes: {
                            'class': 'text-right'
                        },
                    },
                    {
                        field: "IsActive",
                        title: "Paket Masih Tersedia",
                        template: "#if(IsActive == true) {#<span class = 'glyphicon glyphicon glyphicon-ok-circle'></span>#} else {#<span class = 'glyphicon glyphicon glyphicon-remove-circle text-muted'></span>#}#",
                    },

                ],
            });
        });
    </script>
}

